---
layout: default
title: Home
---
<article>
<a href="{{ site.github.url }}">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/sergio-cantu_bv14.jpg)">
    <h2><span>Welcome to my Blog! </span></h2>
    </div>
</a>
<article>

<br>
    
<table  align="center" cellspacing="0" cellpadding="0" border="0" width="75%">
  <hr color="#1B4D6F" size="2">
  <tr>
      <td align="center">
        <p align = "center" valign = "middle" width = "75%"  line-height: 25px; margin: 0;   padding: 10px 10px">
              My name is <strong> Sergio H. Cantu </strong>, I am a graduate student in the PhD program of the <a href="http://web.mit.edu/physics/">physics deparment @ MIT</a>. Welcome to my blog. Hope you have a great time.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus at arcu a gravida. Maecenas dictum eros ac arcu accumsan, sed blandit quam hendrerit. Vivamus tempor nulla in odio dignissim, ut rutrum enim mollis. Proin placerat, velit sit amet scelerisque hendrerit, ante ligula venenatis libero, non luctus arcu nunc in purus. Praesent vitae eros convallis, dignissim ipsum at, rutrum purus. In luctus vestibulum rutrum. Aenean nec ligula ut neque rutrum sollicitudin. Aliquam tincidunt scelerisque mauris at viverra. Nunc in pellentesque est. Etiam luctus viverra odio, vel eleifend lacus hendrerit et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque rutrum pulvinar velit, ac dignissim ipsum posuere facilisis. Nulla facilisi. Phasellus urna eros, facilisis in imperdiet non, viverra dapibus neque. In congue ultrices arcu, aliquet consectetur est pulvinar vitae.
         </p>
      </td>
  </tr>
  <hr color="#1B4D6F" size="2">                                                                                                                       
</table>


<br>
    
<h1><span> Recent Posts</span> <h1>

<br>
                                               
{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image.feature %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image.feature }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">Older</a>
  {% else %}
    <span class="pagination-button">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer</a>
    {% else %}
      <span class="pagination-button">Newer</span>
  {% endif %}
</div>
